<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test task</title>
  </head>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    body{
      background: #E8CBC0;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  </style>
  <body>
    <div id="app"></div>
  </body>
</html>
